<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Sentinel dVPN</vendor>
  <vendor_url>https://sentinel.co</vendor_url>

  <action id="com.sentinel.dvpn.manage-tunnel">
    <description>Manage Sentinel dVPN tunnel (WireGuard and V2Ray/tun2socks)</description>
    <message>Authentication is required to manage the VPN tunnel.</message>
    <icon_name>network-vpn</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/sentinel-vpn-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
